body{background-color: rgb(8, 6, 6);}

h1{ color: rgb(64, 222, 36);
font-size: 75px;
margin-top: 150px;

}

a{ font-size: 70px;
    font-weight: bold;
    color: rgb(214, 201, 201)
    
    
    
    ;}